<!-- <div class="navbar">
    <h2>RE-SHOP</h2>
    <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link">3R</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Donate</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link">How it Works</a></li>
    </ul>
    <div>
        <button Class="signup-btn">Sign Up</button>
        <button Class="login-btn">Login</button>
    </div>
</div> -->
<!-- HERO SECTION -->
<!-- <div class="text-center py-5">
    <h2 class="hero-title">
        We don’t want to green offset, we aspire to be the real deal. </h2>
    <p class="hero-text mt-3"> By remaining true to our inclusion, sustainability, responsibility, and ambition values,
        Recycle is building a waste management company that is socially and environmentally conscious.
        We aim to make sustainable recycling accessible to everyone. </p>
</div>
PROCESS SECTION -->
<!-- <div class="container text-center py-5">
    <h4 class="process-title">OUR PROCESS</h4>
    <p class="text-muted small"> A simple, four-step process to circulate your waste back into the economy </p>
    <div class="row align-items-center mt-5">
        LEFT 
        <div class="col-md-4">
            <button class="step-btn">01. COLLECTION</button>
            <button class="step-btn">02. SEPARATION</button>
            <button class="step-btn">03. TREATMENT</button>
        </div> CENTER
        <div class="col-md-4">
            <img class="recycle-img" src="/images/recycle.png" alt="Recycle">
        </div> RIGHT 
        <div class="col-md-4"> <button class="step-btn">04. RECYCLE</button> <button class="step-btn">05. REINTRODUCE TO
                ECONOMY</button> </div>
    </div>
</div> --> 
